@model Brandoman.Data.Models.ViewModels.ProductViewModel

        <h2>@ViewBag.Message</h2>
        <form asp-controller="Product" asp-action="AddEditRecords" method="post" class="form-horizontal" enctype="multipart/form-data">
            <input asp-for="IsUpdate" type="hidden" />
            <input asp-for="Id" type="hidden" />

            <div class="modal-body container" width="100%">
                <div class="form-horizontal" style="padding-bottom:5px; padding-top:30px">
                    <div class="form-group row">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="Name" class="form-control my-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SubCategoryId" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <select asp-for="SubCategoryId" asp-items="Model.SubCategories" class="form-control my-control"></select>
                            <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.TextAreaFor(model => model.Details, new { rols = "100", cols = "200", @style = "min-height: 150px", @class = "form-control textarea-editor" })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Image" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="Image" type="file" name="imageName" accept=".jpg, .jpeg, .png" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-lg-offset-3">
                            @if (Model.IsUpdate && Model.Image != null)
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="160" height="160" />
                            }
                            else
                            {
                                <img src="~/Images/missing.jpg" width="160" height="160" />
                            }
                        </div>
                    </div>

                    <div class="modal-footer" style="padding:15px">
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary my-btn" id="confirmbtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
