@using Brandoman.Data.Models.ViewModels
@model SubCategoryIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<form asp-area="Administration" asp-controller="Category" asp-action="AddEditCategoryTranslations" method="post" class="form-horizontal">
    <dir class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Message</h2>
        </div>
    </dir>
    <hr />
    <dir class="row">
        <div class="col-md-6" style="background-color: lightgray">
            <input asp-for="SubCategoryId" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <input asp-for="Lang" type="hidden" />
            <input asp-for="Name" type="hidden" />

            <div class="modal-body container" width="100%">
                <div class="form-horizontal" style="padding-bottom:5px; padding-top:30px">
                    <div class="form-group row">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="Name" class="form-control my-control" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="background-color: whitesmoke">
            <div class="modal-body container" width="100%">
                <div class="form-horizontal" style="padding-bottom:5px; padding-top:30px">
                    <div class="form-group row">
                        <label asp-for="LangText" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="LangText" class="form-control my-control" />
                            <span asp-validation-for="LangText" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </dir>
    <div class="modal-footer" style="padding:15px">
        <div class="form-group row offset-md-9">
            <button type="submit" class="btn btn-primary my-btn" id="confirmbtncat">Save</button>
        </div>
    </div>
</form>

